<header class="sticky top-0 z-50 bg-white w-full shadow-sm">
  <nav
    aria-label="Main Navigation"
    class="max-w-screen-xl m-auto px-2.5 xs:px-5 xl:px-0 pt-4 pb-2 flex flex-wrap items-center gap-4 xl:gap-x-10 text-gray-700 bg-white"
  >
    <!-- logo -->
    <div class="order-1 md:order-0 grow xl:grow-0">
      <a href="/" class="inline-block state-base" aria-label="Go to Home">
        <img
          class="w-37.5 md:w-auto"
          src="./src/assets/images/svg/logo.svg"
          alt="Home Magazine Logo"
        />
      </a>
    </div>
    <!-- button menu trigger -->
    <button id="open-menu" class="order-3 sm:hidden cursor-pointer">
      <i id="hamburger" class="ri-menu-line text-2xl"></i>
    </button>
    <!-- navigation list container -->
    <div
      id="mobile-nav"
      class="lg:grow sm:order-3 lg:order-0 p-6 sm:p-0 fixed sm:static w-3/4 sm:w-full lg:w-auto top-[4.6875rem] right-0 bottom-0 h-full sm:h-auto shadow-xl sm:shadow-none translate-x-full sm:translate-x-0 bg-white transition-transform duration-300 ease-in-out sm:flex sm:justify-center"
    >
      <!-- List container dropdown menu -->
      <ul
        class="font-medium text-[0.8125rem] leading-[1.4] h-[80%] sm:px-2 sm:py-2 sm:h-auto flex flex-col gap-y-4 sm:gap-y-0 sm:flex-row sm:items-center sm:gap-x-4 md:gap-x-7 xl:gap-x-10 overflow-y-auto sm:overflow-visible scrollbar-none"
      >
        <!--dropdown link item 1 -->
        <li class="bg-arancio/30 sm:bg-transparent rounded relative">
          <button
            type="button"
            class="state-base w-full sm:w-auto py-2.5 sm:py-3 px-1.5 sm:px-2 dropdown-toggle hover:bg-grigio-chiaro flex items-center justify-between gap-0.5 rounded"
          >
            <span class="pointer-events-none select-none">Magazine</span>
            <i class="ri-arrow-down-s-line pointer-events-none"></i>
          </button>
          <!-- dropdown list -->
          <div
            class="z-1 dropdown-menu sm:absolute sm:top-full sm:left-1/2 sm:-translate-x-1/2 hidden bg-fondini rounded-b-lg pb-2 w-full sm:w-48"
          >
            <a
              href="#"
              class="block px-6 py-2 hover:bg-grigio-pale border-b border-arancio/30"
              >Magazine Link 1</a
            >
            <a
              href="#"
              class="block px-6 py-2 hover:bg-grigio-pale border-b border-arancio/30"
              >Magazine Link 2</a
            >
            <a href="#" class="block px-6 py-2 hover:bg-grigio-pale"
              >Magazine Link 3</a
            >
          </div>
        </li>
        <!--dropdown link item 2 -->
        <li class="bg-arancio/30 sm:bg-transparent rounded relative">
          <button
            type="button"
            class="state-base w-full sm:w-auto py-2.5 sm:py-3 px-1.5 sm:px-2 dropdown-toggle hover:bg-grigio-chiaro flex items-center justify-between gap-0.5 rounded"
          >
            <span class="pointer-events-none select-none">Corsi</span>
            <i class="ri-arrow-down-s-line pointer-events-none"></i>
          </button>
          <!-- dropdown list -->
          <div
            class="z-1 dropdown-menu sm:absolute sm:top-full sm:left-1/2 sm:-translate-x-1/2 hidden bg-fondini rounded-b-lg pb-2 w-full sm:w-48"
          >
            <a
              href="#"
              class="block px-6 py-2 hover:bg-grigio-pale border-b border-arancio/30"
              >Corsi Link 1</a
            >
            <a
              href="#"
              class="block px-6 py-2 hover:bg-grigio-pale border-b border-arancio/30"
              >Corsi Link 2</a
            >
            <a href="#" class="block px-6 py-2 hover:bg-grigio-pale"
              >Corsi Link 3</a
            >
          </div>
        </li>
        <!--dropdown link item 3 -->
        <li class="bg-arancio/30 sm:bg-transparent rounded relative">
          <button
            type="button"
            class="state-base w-full sm:w-auto py-2.5 sm:py-3 px-1.5 sm:px-2 dropdown-toggle hover:bg-grigio-chiaro flex items-center justify-between gap-0.5 rounded"
          >
            <span class="pointer-events-none select-none">Fiere</span>
            <i class="ri-arrow-down-s-line pointer-events-none"></i>
          </button>
          <!-- dropdown list -->
          <div
            class="z-1 dropdown-menu sm:absolute sm:top-full sm:left-1/2 sm:-translate-x-1/2 hidden bg-fondini rounded-b-lg pb-2 w-full sm:w-48"
          >
            <a
              href="#"
              class="block px-6 py-2 hover:bg-grigio-pale border-b border-arancio/30"
              >Fiere Link 1</a
            >
            <a
              href="#"
              class="block px-6 py-2 hover:bg-grigio-pale border-b border-arancio/30"
              >Fiere Link 2</a
            >
            <a href="#" class="block px-6 py-2 hover:bg-grigio-pale"
              >Fiere Link 3</a
            >
          </div>
        </li>
        <!--dropdown link item 4 -->
        <li class="bg-arancio/30 sm:bg-transparent rounded relative">
          <button
            type="button"
            class="state-base w-full sm:w-auto py-2.5 sm:py-3 px-1.5 sm:px-2 dropdown-toggle hover:bg-grigio-chiaro flex items-center justify-between gap-0.5 rounded"
          >
            <span class="pointer-events-none select-none">Negozi</span>
            <i class="ri-arrow-down-s-line pointer-events-none"></i>
          </button>
          <!-- dropdown list -->
          <div
            class="z-1 dropdown-menu sm:absolute sm:top-full sm:left-1/2 sm:-translate-x-1/2 hidden bg-fondini rounded-b-lg pb-2 w-full sm:w-48"
          >
            <a
              href="#"
              class="block px-6 py-2 hover:bg-grigio-pale border-b border-arancio/30"
              >Negozi Link 1</a
            >
            <a
              href="#"
              class="block px-6 py-2 hover:bg-grigio-pale border-b border-arancio/30"
              >Negozi Link 2</a
            >
            <a href="#" class="block px-6 py-2 hover:bg-grigio-pale"
              >Negozi Link 3</a
            >
          </div>
        </li>
      </ul>
    </div>
    <!-- form container -->
    <div class="order-2 md:order-0">
      <!-- Search form  -->
      <form id="searchForm" class="relative flex items-center">
        <input
          type="text"
          id="search"
          class="state-base w-0 lg:w-md invisible opacity-0 pointer-events-none z-10 absolute right-0 h-10 pl-4 pr-10 rounded-full outline-none bg-grigio-chiaro font-sans text-sm transition-all duration-300 ease-in-out"
          placeholder="Search..."
        />
        <button
          type="button"
          id="searchBtn"
          class="state-base ri-search-line text-2xl relative z-20 cursor-pointer mr-1"
        ></button>
      </form>
    </div>
    <!-- profile container  -->
    <div
      class="xl:border-l-2 border-grigio-chiaro hidden md:flex items-center gap-x-3 xl:gap-10 xl:pl-8 cursor-pointer group transition-all hover:bg-grigio-chiaro/50"
    >
      <div
        class="relative grid place-items-center w-16 rounded-full border-4 border-gray-200 group-hover:border-arancio transition-all duration-300"
      >
        <img
          src="./src/assets/images/profile.jpg"
          class="w-14 h-14 rounded-full object-cover"
          alt="User Profile"
        />
      </div>
      <!-- profile select -->
      <div
        class="relative inline-flex justify-start group hover:text-arancio transition-colors items-center"
      >
        <select
          class="pr-4 appearance-none bg-transparent font-medium text-[0.8125rem] leading-[1.4] outline-none cursor-pointer group-hover:text-arancio transition-colors"
        >
          <option>Annachiara</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>

        <svg
          class="pointer-events-none absolute right-0 transition-transform duration-300 group-hover:border-arancio"
          width="12"
          height="7"
          viewBox="0 0 12 7"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.75 0.75L5.75 5.75L10.75 0.75"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </nav>
</header>
