<div class="grid grid-cols-12 gap-y-2 sm:gap-y-0 md:gap-4 lg:gap-6">
  <!-- Left item -->
  <div class="col-span-12 md:col-span-6 lg:col-span-8 flex flex-col bg-white">
    <div
      class="xs:m-1.5 md:aspect-video lg:aspect-auto overflow-hidden rounded-sm"
    >
      <img
        src="./src/assets/images/flowers-sm.jpg"
        alt="Flowers"
        class="w-full h-full object-cover"
      />
    </div>

    <div class="sm:p-3.5 text-center bg-white">
      <span class="text-arancio uppercase font-bold text-[10px] tracking-widest"
        >Lorem Ipsum</span
      >

      <h3
        class="h3 max-w-[600px] m-auto font-abhaya mt-2.5 leading-tight italic"
      >
        Lorem ipsum dolor sit amet, consectetur adipisci elit
      </h3>

      <p class="mt-6 text-xs font-medium">
        Di <span class="text-arancio">Angela Rossi</span>
      </p>

      <button class="btn w-full mt-6 py-3">Scopri di più</button>
    </div>
  </div>
  <!-- Right item -->
  <div
    class="col-span-12 md:col-span-6 lg:col-span-4 flex sm:flex-row md:flex-col gap-x-2.5 gap-y-6"
  >
    <div class="grid sm:grid-cols-2 md:gap-4 flex-1 bg-white">
      <figure class="m-1 h-60 sm:h-auto block overflow-hidden rounded-sm">
        <img
          src="./src/assets/images/butterfly.jpg"
          alt="Butterfly"
          class="w-full h-full object-cover"
        />
      </figure>

      <div class="p-1.5 xs:p-3.5 flex flex-col justify-between">
        <div>
          <span class="text-arancio font-bold text-[13px]">Lorem Ipsum</span>

          <h4 class="font-abhaya font-medium text-lg leading-tight mt-1">
            Lorem ipsum dolor sit amet
          </h4>

          <h5
            class="max-w-[150px] mt-3 xs:mt-6 font-noto line-clamp-2 text-[13px] leading-tight"
          >
            Lorem ipsum dolor sit amet
          </h5>
        </div>

        <div>
          <p class="text-[9px]">
            di <span class="text-arancio text-[9px]">Lorem Ipsum</span>
          </p>

          <button class="btn mt-3 xs:mt-6 py-1 text-[10px] font-bold w-full">
            Scopri di più
          </button>
        </div>
      </div>
    </div>

    <div class="grid sm:grid-cols-2 md:gap-4 flex-1 bg-white">
      <figure class="h-60 sm:h-auto m-1 block overflow-hidden rounded-sm">
        <img
          src="./src/assets/images/rabbits.jpg"
          alt="Rabbits"
          class="w-full h-full object-cover"
        />
      </figure>

      <div class="p-1.5 xs:p-3.5 flex flex-col justify-between">
        <div>
          <span class="text-arancio font-bold text-[13px]">Lorem Ipsum</span>
          <h4 class="font-abhaya font-medium text-lg leading-tight mt-1">
            Lorem ipsum dolor sit amet
          </h4>
          <h5
            class="max-w-[150px] mt-3 xs:mt-6 font-noto line-clamp-2 text-[13px] leading-tight"
          >
            Lorem ipsum dolor sit amet
          </h5>
        </div>

        <div>
          <p class="text-[9px]">
            di <span class="text-arancio text-[9px]">Lorem Ipsum</span>
          </p>

          <button class="btn mt-3 xs:mt-6 py-1 text-[10px] font-bold w-full">
            Scopri di più
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
