/* Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600&display=swap");

@import "tailwindcss";

@theme {
  /* Custom Breakpoints */
  --breakpoint-xs: 23.75rem;
  --breakpoint-sm: 36rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 78.75rem;
  --breakpoint-xxl: 87.5rem;

  /* Brand Colors */
  --color-arancio: #f39200;
  --color-arancio-chiaro: #ffcdb8;
  --color-hover-menu-mobile: #e88c01;

  /* Custom colors */
  --color-grigio-scuro: #3d3d3c;
  --color-grigio-medio: #757885;
  --color-grigio-chiaro: #f2f2f2;
  --color-grigio-pale: #b5b7c3;
  --color-grigio-bottoni: #646464;

  /* Backgrounds & Bases */
  --color-fondini: #f4ece8;
  --color-bianco: #fff;

  /* Custom fonts */
  --font-sans: "Poppins", sans-serif;
  --font-noto: "Noto Serif", serif;
  --font-abhaya: "Abhaya Libre", serif;

  /* Custom Spacing */
  --spacing-145: 580px;

  /* Custom background image */
  --background-image-hero: url("./src/assets/images/flowers.jpg");
}

@layer base {
  body {
    font-family: var(--font-sans);
    @apply min-h-screen text-grigio-scuro bg-bianco;
  }

  h1 {
    font-family: var(--font-abhaya);
    @apply font-bold leading-none text-bianco;
  }

  h2 {
    font-family: var(--font-abhaya);
    @apply font-bold leading-none;
  }

  h3 {
    @apply font-bold leading-[1.36];
  }
}

@layer components {
  .h1 {
    @apply text-2xl xs:text-[28px] md:text-3xl lg:text-5xl xl:text-6xl;
  }

  .h2 {
    @apply text-2xl xs:text-[28px] md:text-4xl lg:text-5xl xl:text-6xl;
  }

  .h3 {
    @apply text-xs sm:text-base md:text-lg lg:text-xl xl:text-2xl;
  }

  .h4 {
    @apply text-2xl xs:text-3xl md:text-3xl lg:text-4xl xl:text-4xl;
  }

  .h5 {
    @apply text-xl xs:text-2xl md:text-2xl font-medium;
  }

  .h6 {
    @apply text-lg xs:text-xl md:text-xl font-medium;
  }

  .section {
    @apply my-5 sm:my-10 lg:my-20 px-4 xl:px-0 py-5 sm:py-10 lg:py-20;
  }
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

@layer local {
  .wrapper {
    --size-content: 78.75rem;
    --spacing-gutter: 2.5rem;

    display: grid;
    grid-template-columns:
      [full-start] 1fr
      [content-start] min(var(--size-content), 100% - var(--spacing-gutter))
      [content-end] 1fr
      [full-end];

    @media (width <= 23.75rem) {
      --spacing-gutter: 1.25rem;
    }
  }

  .wrapper > *,
  .section-fb > * {
    grid-column: content-start / content-end;
  }

  .wrapper > .item-fb {
    grid-column: full-start / full-end;
  }

  .section-fb {
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: inherit;
  }

  .section-fb > .item-fb {
    grid-column: full-start / full-end;
  }
}
